# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
# Build
build/

# IDE
.idea/
.vscode/*.code-workspace
.vscode/settings.json
*.iml

# macOS
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Logs
*.log

.devcontainer/
.env.example
api/
docker/
